@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;

    background-color: #767676;
    height: 100vh;
/* 
    display: flex;
    flex-direction: column;
    align-items: center; */

    display: grid;
    grid-template: 7% 1fr 10%/ 2% 1fr 2%;
    grid-gap: 3px;

    align-items: center;
    text-align: center;
}

h1 {
    margin: 0.5rem;
    color: rgb(229, 218, 0);
    grid-column: 2;
}

.board {
    grid-column: 2;

    /* width: 260px;
    height: 400px; */

    /* width: 100vh;
    height: 100vh; */
    
    width: 100%;
    height: 100%;

    padding: 5px;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: rgba(79, 79, 79, 1) 0 0 8px;
    perspective: 1000px;

    display: grid;
    grid-template: repeat(6, 1fr)/ repeat(4, 1fr);
    grid-gap: 4px;
}

.card{
    width: 100%;
    height: 100%;
    transform: scale(1);
    position: relative;
    transition: transform 0.6s;
    
    transform-style: preserve-3d;
    cursor: pointer;

    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: cover;
    border: 2px solid #524f4e;
    border-radius: 10px;
}

.card.flip{
    transform: rotateY(-180deg);
}

.front, .back {
    
    position: absolute;
    
    border-radius: inherit;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 1s;
}
  
.back {
    z-index: 2;
    transform: rotateY(0deg);
}
  
.front {
    transform: rotateY(-180deg);
}

.board.blocked::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100000;
}

.card.opened .front {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 182, 150, 0.5);
}

.reset {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-column: 2;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 35px;
    border: none;
    /* border: 3px solid #292929; */
    border-radius: 45px;
    margin: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    color: #524f4e;
    background: rgb(229, 218, 0);
    box-shadow: rgba(79, 79, 79, 1) 0 0 8px;
    transition: .3s;
}

.reset:hover {
    background: #aea500;
    box-shadow: rgb(255, 255, 255) 0 0 8px;
    color: white;
}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    z-index: 200;
    display: flex;
    align-items: center;
    text-align: center;
}

p {
    font-size: 10px;
    color: #aea500;
}
