
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*, *::before, *::after {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #ffffff;
  /* #448aff */
  text-transform: uppercase;
  background-color: #e8e8e8;

}

/* контейнер */
.wrap {
  width: 500px;
  height: 500px;
  
  position: absolute;
  top: 10%;
  left: 50%;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;

  padding: 5px;
  display: grid;
  grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
  grid-gap: 5px;
  border-radius: 5px;
  box-shadow: rgba(79, 79, 79, 1) 0 0 8px;
}
/* 3д карточка */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  /* для фффекта 3д используем свойство перспектива */
  perspective: 1000px;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(360deg);
}

.back, .front {
  position: absolute;
  
  border-radius: 5px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s;
  /* спрячим тыльную сторону обеих сторон */
  backface-visibility: hidden;
}

.back {
  /* развернем бэк по оси Y на 180 */
  transform: rotateY(180deg);
  
  background-color: #009687;
  color: #75fff1;
  border: 2px solid #75fff1;
}
.front {
  background-color: #03DAC5;
  color: #009687;
  border: 2px solid #009687;
}


.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 45px;
  margin: 2rem 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: rgb(69, 171, 255);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2e77e5;
  box-shadow: 0 15px 20px rgba(230, 249, 255, 0.4);
  color: white;
  transform: translateY(-7px);
}